@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom hover effect */
.hover-effect:hover {
  transform: translateY(-5px);
  transition: all 0.3s ease;
}

html {
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px; /* adjust if your navbar is taller or shorter */
}
